[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.2.10"
certifi = "==2020.11.8"
cement = "==2.8.2"
botocore = "==1.19.15"
awsebcli = "==3.19.2"
django = "==3.1.2"
future = "*"
psycopg2 = "*"
requests = "*"
django-widget-tweaks = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
